<html>

<head>
	<title>Testing Backend</title>
</head>

<body>
  <div id="app">
  
	<div>
		hello. just testing. select a location below. <br>
		<li v-for="location in locations" :key="location">
			{{location}}
		</li>

		<form>
			<select>
				<option v-for="location in locations" :value='location'>
					{{location}}
				</option>
			</select>
		</form>
		
		<button @click=enter()> enter </button>
		<button @click=exit()>exit</button> <br>
		Counter {{counter}} <br>
		<button @click=increment()>Increment</button>

		<button @click=printData()> click me </button>
		<pie-chart :data="hangouts"></pie-chart>
	</div>
  
  </div>

</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script src="./main.js" type="module"></script>
