<html>

<head>
	<title>Testing Backend</title>
</head>

<body>
	<script src="https://unpkg.com/vue">

	</script>
	<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js">

	</script>
	<script src="https://unpkg.com/vuefire/dist/vuefire.js">

	</script>
	<script src="./main.js" type="module"></script>
	<script src="https://unpkg.com/chart.js@2.7.2/dist/Chart.bundle.js">

	</script>
	<script src="https://unpkg.com/vue-chartkick@0.4.0">

	</script>
	<div id="app">
		<div>
			hello. just testing. select a location below. <br />
        <li v-for="location in locations" :key="location">{{location}}</li>

        <h4>Form</h4>
        <form>
          <select>
            <option v-for="location in locations" :value="location">
              {{location}}
            </option>
          </select>
        </form>

        <div>
          <h4>All about buttons</h4>
          <button @click="enter()">enter</button>
          <button @click="exit()">exit</button>
          <button @click="update_data()">Update Data</button>
          <button @click="startRandomTime()">Start</button>
          <button @click="stopRandomTime()">Stop</button>
        </div>

        <div>
          <h4>About Dates and Occupancy</h4>
          <p>Today's Date: {{formatDate(new Date())}}</p>
          <p>Three Weeks Ago: {{formatDate(new Date())}}</p>
          <p>Current Hour: {{formatTime(new Date())}}</p>
	  <button @click="operatingHours('General', 'Central Library', 'open')">
            Operating Hours
          </button>
          <p>Central Library Opening Hours: {{opening}}</p>
          <button @click="forecast('General','Central Library', new Date(2018, 11, 12, 22, 0, 30, 0),2200)">
            Forecast
          </button>
          <p>Forecast: {{ occupancy }}</p>
          <button
            @click="display('General', 'Central Library', new Date(2018, 11, 12, 22, 0, 30, 0))"
          >
            Forecast Chart
          </button>
          <column-chart :data="forecastchart"></column-chart>
	<button @click="vacant('Computing', 'COM1')">Vacant</button>
          <p>Vacancies: {{vacancy}}</p>
	<button @click="recommend('Computing')">Recommend</button>
          <p>We recommend {{rec}}, which has/have {{rec_vacancy}} vacant slots.</p>
        </div>

        <div>
          <h4>le wild counter (added for testing)</h4>
          <p>Counter {{counter}}</p>
          <button @click="increment">Increment</button>
        </div>

        <div>
          <h4>About Bookings</h4>
          <button @click="displayBookings">Display myBookings</button>
          Display bookings
          <li v-for="myBooking in myBookings">{{ myBooking.date }}</li>

          <br>

          <button @click="bookingsAvail">Bookings Avail</button> Display
          bookings available
          <li v-for="booking in bookings">{{ booking }}</li>

          <br>

          <button @click="makeBooking">Make Booking</button>
					 my bookings
					<li v-for="myBooking in myBookings">{{ myBooking }}</li>

          <br>
          <button @click="cancelBooking">cancel booking</button>
        </div>

        <div>
          <h4> Others </h4>
		      <button @click="getRegionfromLoc">getRegionfromLoc</button>
		      <button @click="getRegionfromBooking">getRegionfromBooking</button>
		      <button @click="getRegionCode">getRegionCode</button>
		      <button @click="addHangouts">addHangouts</button>
          <p>
            <button @click="tempFn()">TempFn</button> Returned Value from
            firebase: {{ tempVal[tempVal.length-1] }}
          </p>
        </div>

        <div>
          <button @click="printData()">click me not</button>
          <h4>Pie Chart</h4>
          <pie-chart :data="get()"></pie-chart>
        </div>
      </div>
    </div>
    <!--
      <script>
      	 var app = new Vue({
      		 el: "#app",
      		 data: {
      			 counter: 0,
      			 locations: ["Central Library", "Mac Commons", "Study Room 1"],
      			 hangouts: [["Computing", 44], ["Engineering", 23], ["Science", 33]]
      			//databaseURL:
      		}
      	})
      </script>
    -->
  </body>
</html>
